/* Table of contents, ctrl + f and search for:
_______________
- General
- Typography
- Basic list/links
- Header and Nav
- Footer
- Forms
- Modal
- Misc
- Media Queries
_______________
*/

/*COLORS
--------
#fbb023 - yellow
#0a0400 - black
#eeba5b - white-yellow
#E4F1C3,#BAD696,#9EBF6D,#BBE2BC,#D8F1D3,#E4F1C3

/***
General
-----------------------------------------
***/
/**
button:focus { outline: none; }
**/
.buttonStyle:focus {
    color: #fff;
}

.container-accept {
    max-width: 400px;
    margin: 0 auto
}

.modal::-webkit-scrollbar { 
    display: none; 
}

.proba {
    border: 1px solid green;
}

.buttonStyle {
    display:inline-block;
    width: 150px;
    margin: 0 auto;
    border: .15em solid rgb(255,255,255);
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    transition: all 0.2s;
    }

.buttonStyle:hover {
    border-color: rgb(226, 213, 213);
    color: #fff;
 }

.linkPassword {
    font-size: 12px;
    background-color: rgb(0,202,35);
    color: white;
    padding: .85em 1.5em;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    border: .15em solid rgb(255,255,255);
    border-radius: 1px;
}
    
.linkPassword:hover {
    opacity: 0.8;
    color: #fff;
    transition: 0.3s;
}
    
.linkPassword:active {
    border: .1px solid rgb(4, 172, 32);
}

.icon-png {
    width: 75;
    transition: transform .8s ease-in-out;
}

.icon-png:hover {   
    transform: rotate(360deg);
}

.button {
    margin-left: 135px;
}

* {
    box-sizing: border-box;
 }
 
 html {
     height: 100%;
     font-family: 'Montserrat', sans-serif;
 }
 
 body {
    background: #ffffff;
    background: -webkit-linear-gradient(right, rgb(250, 250, 250), rgb(250, 250, 255));
    background: -moz-linear-gradient(right, rgb(250, 250, 250), rgb(250, 250, 255));
    background: -o-linear-gradient(to left, rgb(250, 250, 250), rgb(250, 250, 255));
    background: linear-gradient(to left, rgb(250, 250, 250), rgb(250, 245, 255));
    color: #222;
    font-size: 1.5em;
 }

.side__nav--ul li {
    text-decoration: none;
    color: white;
}


.container__main {
    margin-top: 2rem;
    width: 100%;
    max-width: 1200px;
}

.section__main {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: #ffffff;
}

.section__ostalo {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.section__stampanje {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
}

.row-padding-main-page {
    padding-top: 1rem;
}

.row-padding {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.link h3:hover {
    color: rgb(0,202,35);
    cursor: pointer;
    text-decoration: underline;
}

/***
Typography
-----------------------------------------
***/
.h3-footer {
    font-weight: bold;
}

.h3-footer:after {
    display: block;
    height: 1.8px;
    background-color: gray;
    content: " ";
    width: 60px;
    margin: 0 auto;
    margin-top: 3px;
}

.section__heading {
    margin-bottom: 5rem;
    margin-top: 8rem;
    text-align: center;
    font-size: 3.5rem;
    /* font-weight: bold; <--- mozda */
}

.section__heading-second {
    margin-bottom: 6rem;
    margin-top: 8rem;
    text-align: center;
    font-size: 2.5rem;
    /* font-weight: bold; <--- mozda */
}

.section-heading--smaller {
    font-size: 3rem;
}

.section__heading:after, 
.section__heading-second:after {
    display: block;
    height: 2px;
    background-color: gray;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 8px;
}

.mainpage__heading {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.mainpage__heading:after {
    display: block;
    height: 2px;
    background-color: gray;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 8px;
}

.section__main h3 {
    margin-top: 1rem; 
}

.label__heading {
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

label {
    font-weight: 300;
}

/** crno za selected opcije **/

:checked + span {
    font-weight: bold;
  }

select {
    font-weight: bold;
}

/***
Basic list/links
-----------------------------------------
***/

a {
    color: #222;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: rgb(0,202,35);
}

/***
Header and Nav
-----------------------------------------
***/

header {
    background-color: #f8fff5;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    max-width: 180px;
    margin-right: 152.5px;
}

ul.nav.nav-login-register {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.nav {
    width: 100%;
    list-style-type: none;
    color: #8f897d;
}

/**nav1 je za ostale stranice poput stampanje.html, odnosi se na navigaciju pocetna / stampanje ...**/
ul.nav1 {
    background-color: rgb(0,202,35);
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.nav1 li {
    display: inline;
    color: #D8F1D3;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
}

ul.nav1 a {
    color: #fafafa;
}

ul.nav1 a:hover {
    color: rgb(77, 247, 106);
}

/** ????? **/
.tile a {
    display: block;
    padding: 10px;
    border: 1px solid red;
    margin-right: 5px;
}

/**navigacija u footeru**/
.aside {
    text-align: center;  
    padding: 1rem 1rem;
}

.side__nav--ul {
    list-style-type: none;
}

div.three.columns.aside {
    margin: 0 auto;
    margin-top: 10rem;
}

/*ako bude bela pozadina 
.navigation__header--nav a {
    color: #fff;
}
*/
/***
Footer
-----------------------------------------
***/

footer {
    background-color: #f8fff5;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

/***
FORMS
-----------------------------------------
***/
.form-box {
    max-width: 1000px;
    margin: 0 auto;
    padding: 80px 50px; /* 80 80 */
    margin-top: 10px;
    margin-bottom: 100px;
    background: #fdfbfb;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 1px 5px rgba(226, 203, 203, 0.3);
            box-shadow: 0 1px 5px rgba(226, 203, 203, 0.3);
  }

.row2 {
    overflow: hidden;
    padding: 10px;
}
.col2 {
    float: left;
    width: 50%;
    padding: 10px 50px;
}

.row_style {
    padding: 10px 5px;
}

.column_space {
    padding-right: 20px;
}


/***
MODAL
------------------------------------
**/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: rgb(86, 199, 90); 
    color: white;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #444;
}

/* Set a style for all buttons */
button {
    background-color: rgb(0,202,35);
    color: white;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.login-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background-color: #f44336;
    margin: 0 auto;
}

.container-form {
    padding: 16px 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    padding: 20px 5px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #333;
    font-size: 55px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: rgb(218, 13, 13);
    text-decoration: none;
    cursor: pointer;
}

.picture-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: rgb(243, 232, 232);
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.picture-close:hover,
.picture-close:focus {
    color: rgb(0,202,35);
    text-decoration: none;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {-webkit-transform: scale(0);transform: scale(0)} 
    to {-webkit-transform: scale(1);transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
    }
}

/***
PICTURE MODAL
-----------------------------------------
***/

.picture-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.picture-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#picture-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.picture-modal-content, #picture-caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .picture-modal-content {
        width: 100%;
    }
}

/***
MISC
-----------------------------------------
***/

/**Linija pocetna / stampanje ...**/
.line {
    color: rgb(124, 133, 100);
    font-size: 1.8rem;
}

/** dugme posalji **/
input[type="submit"].button-primary {
    background-color: rgb(0,202,35);
    color: white;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

input[type="submit"].button-primary:hover {
    opacity: 0.8;
}


/** pojavljivanje sendCopyEmail inputa **/
#sendCopyEmail {
    display:none;
}

/** file upload dugme **/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: -1;
    background-color: rgb(0,202,35);
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    background-color: rgb(0,202,35);
    display: inline-block;
    padding: 5px 20px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    opacity: 0.8;
}

.inputfile + label {
	cursor: pointer; 
}

.container-form {
    text-align: center;
    margin: 0 auto;
}

.slike-forma {
    border: 1px solid rgb(0,0,0);
    border: 1px solid rgba(0,0,0,0.35);
    border-radius: 5px;
    max-width: 650px;
}

.slike-forma-omot {
    border-radius: 5px;
    max-width: 650px;
}

.povratnice-img {
    border-radius: 5px;
    max-width: 650px;  
}

/***
Media Queries 
-----------------------------------------
***/
@media (max-width: 548px) {

    h1 {
        font-size: 3rem;
    }
    /**H2**/
    .section__heading {
        font-size: 2.5rem;
        margin-bottom: 2rem;
        margin-top: 4rem;
    }

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    footer {
        font-size: .9em;
    }

    .nav1 {
        display: ;
    }

    ul.nav1 li {
        display: block;
        color: #D8F1D3;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 1.7rem;
    }

    span.line {
        display: none;
    }

    .nav-reg-log {
        margin-top: 15px;
    }

    .modal {
        font-size: 1em;
    }
    
    .modal p {
        font-size: 1em;
    }
    
    h1 {
        font-size: 3rem;
    }

    .modal p {
        font-size: 1em;
    }

    .slike-forma {
        display: none;
    }

    .logo {
        max-width: 180px;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/**For pictures in forms**/
@media (max-width: 990px) {
    .slike-forma {
        display: none;
    }
}

@media (min-width: 549px) {
    h3 {
        font-size: 1.2em;
    }

    .shadow {
        position:relative;
    }

    .shadow {
        -webkit-box-shadow:0 1px 10px rgba(226, 203, 203, 0.3);
                box-shadow:0 1px 10px rgba(226, 203, 203, 0.3);
        /**box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;**/
    }

    .shadow:before, .shadow:after {
        position:absolute;
        content:"";
        bottom:20px;
        left:12px;
        top:90%;
        width:60%;
        background:#B2DBBF;
        z-index:-1;
        -webkit-box-shadow: 0 20px 5px #9B7468;
        box-shadow: 0 20px 5px rgb(146, 153, 152);
        filter: blur(4px);
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
    }

    .container__cenovnik {
        max-width: 500px;
    }

    th, td {
        border-bottom-color: black;
    }

}


@media (min-width: 768px) {
    .section__main {
      padding: 10rem 0 8;
    }

    h3 {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    .section__main {
      padding: 11 0 11rem;
    }

    h3 {
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.3em;
        color: #5b5757;
    }
}

/*Message status paragraf*/
p.loginStatus {
	font-style: italic;
	float: right;
	margin-right: 5%;
}

p.loggedStatus {
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
 }
/**
p.loggedStatus {
	margin-top: 0%;
	margin-right: 0%;
	padding-right: 3%;
	padding-top: 0%;
	float: right;
}
**/

p#registrationMsg {
	color: red;
}

a.disabled-links{
	pointer-events: none;
	cursor: default;
	opacity:0.2;
	filter: alpha(opacity=40);
	color:inherit;
}

.clickable {
	cursor: pointer;
}

#paymentConfirm {
	margin-top: 10px;
    display: block;
    color: #fff;
}

#paymentConfirm:focus {
    color: #fff;
}

#paymentConfirm:active {
    color: #fff;
}

.success {
	font-size:2rem; 
	font-style: italic;
}
#paymentCancel {
    margin-top: 10px;
    display: block;
    background-color: #f44336;
}

#paymentCancel:focus {
    color: #fff;
}

#paymentCancel:active {
    color: #fff;
}

.silver {
	color: rgb(180, 180, 180);
}

.non-bottom-space {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

hr {
	margin-top: 0em;
}

.gif_image {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 4%;
}

/**NARUDZBINE**/
.section__narudzbine {
    padding-bottom: 15rem;
}

.section__narudzbine h3 {
    font-size: 24px;
    font-weight: bold;
    color: #444;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}

/**tables**/

table.container {
    max-width: 760px;
    font-size: 14px;
  }
  
  thead th {
    font-weight: 400;
    font-size: 16px;
    background: rgb(0,202,35);
    color: #FFF;
  }
  
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;
  }
  
  tr:nth-child(even) {
    background: #e8eeef;
  }
  
  th, td {
    text-align: center;
    padding: 10px;
    font-weight: 300;
  }
  
  tfoot tr {
    background: none;
  }
  
  tfoot td {
    padding: 10px 2px;
    font-size: 0.8em;
    font-style: italic;
    color: #8a97a0;
  }

  .buttonForm {

  }
  
  #statusMessage2 {
	font-size: 17px;
	color: green;
  }