/* Table of contents, ctrl + f and search for:
_______________
- General
- Typography
- Basic list/links
- Header and Nav
- Footer
- Forms
- Modal
- Misc
- Media Queries
_______________
*/

/*COLORS
--------
#fbb023 - yellow
#0a0400 - black
#eeba5b - white-yellow
#E4F1C3,#BAD696,#9EBF6D,#BBE2BC,#D8F1D3,#E4F1C3

/***
General
-----------------------------------------
***/

* {
   box-sizing: border-box;
}

html {
    height: 100%;
}

body {
   background: #ffffff;
   background: -webkit-linear-gradient(right, rgb(250, 250, 250), rgb(250, 250, 255));
   background: -moz-linear-gradient(right, rgb(250, 250, 250), rgb(250, 250, 255));
   background: -o-linear-gradient(to left, rgb(250, 250, 250), rgb(250, 250, 255));
   background: linear-gradient(to left, rgb(250, 250, 250), rgb(250, 245, 255));
   color: #222;
   font-size: 1.5em;
}

.side__nav--ul li {
    text-decoration: none;
    color: white;
}


.container__main {
    margin-top: 4rem;
    width: 100%;
    max-width: 1200px;
}

.section__main {
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    background-color: #ffffff;
}

.section__ostalo {
    padding-top: 5rem;
    padding-bottom: 8rem;
}

.section__stampanje {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
}


.link h3:hover {
    color: #b6aa92;
    cursor: pointer;
    text-decoration: underline;
}

/***
Typography
-----------------------------------------
***/

.section__heading {
    margin-bottom: 6rem;
    margin-top: 6rem;
    text-align: center;
    font-size: 3.5rem;
    /* font-weight: bold; <--- mozda */
}

.section-heading--smaller {
    font-size: 3rem;
}

.section__heading:after {
    display: block;
    height: 2px;
    background-color: gray;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 8px;
}

.mainpage__heading {
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.mainpage__heading:after {
    display: block;
    height: 2px;
    background-color: gray;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 8px;
}


.section__main .fas {
    margin-bottom: .4rem;
    margin-top: 2.5rem;
}

.section__main .far {
    margin-bottom: .4rem;
    margin-top: 2.5rem;
}

.section__main h3 {
    margin-top: 1rem; 
}

.label__heading {
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 1.6rem;
    font-weight: 400;
}

label {
    font-weight: 300;
}

/** crno za selected opcije **/

:checked + span {
    font-weight: bold;
  }

select {
    font-weight: bold;
}

/***
Basic list/links
-----------------------------------------
***/

a {
    color: #222;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #576268;
}

/***
Header and Nav
-----------------------------------------
***/

header {
    background-color: #fdf9f9;
    -webkit-border-radius: 5px 5px 0 0;
            border-radius: 5px 5px 0 0;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.logo {
    max-width: 150px;
}

ul.nav.nav-login-register {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
}

.nav {
    width: 100%;
    list-style-type: none;
    color: #8f897d;
}

/**nav1 je za ostale stranice poput stampanje.html, odnosi se na navigaciju pocetna / stampanje ...**/
ul.nav1 {
    background-color: #fdfbfb;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.nav1 li {
    display: inline;
    color: #D8F1D3;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 2rem;
}

/** ????? **/
.tile a {
    display: block;
    padding: 10px;
    border: 1px solid red;
    margin-right: 5px;
}

.fa-home {
    padding-right: 4px;
}

/**navigacija u footeru**/
.aside {
    text-align: center;  
    padding: 1rem 1rem;
    background-color: #eee8d5;
}

.side__nav--ul {
    list-style-type: none;
}

div.three.columns.aside {
    margin: 0 auto;
    margin-top: 10rem;
}


/**Registruj se i uloguj se**/
.fa-user, .fa-user-plus {
    padding-left: 5px;
}
/*ako bude bela pozadina 
.navigation__header--nav a {
    color: #fff;
}
*/
/***
Footer
-----------------------------------------
***/

footer {
    background-color: #eee8d5;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
}

footer .container {

}

/***
FORMS
-----------------------------------------
***/
.form-box {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 80px;
    margin-top: 30px;
    margin-bottom: 100px;
    background: #fdfbfb;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0 1px 5px rgba(226, 203, 203, 0.3);
            box-shadow: 0 1px 5px rgba(226, 203, 203, 0.3);
  }


/***
MODAL
------------------------------------
**/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background-color: rgb(86, 199, 90); 
    color: white;
}

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    color: #444;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.login-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    background-color: #f44336;
    margin: 0 auto;
}

.container-form {
    padding: 16px 50px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    padding: 20px 5px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {-webkit-transform: scale(0);transform: scale(0)} 
    to {-webkit-transform: scale(1);transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn {
       width: 100%;
    }
}

/***
PICTURE MODAL
-----------------------------------------
***/

.picture-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.picture-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#picture-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}


/* Add Animation */
.picture-modal-content, #picture-caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.picture-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.picture-close:hover,
.picture-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .picture-modal-content {
        width: 100%;
    }
}




/***
MISC
-----------------------------------------
***/

/**Linija pocetna / stampanje ...**/
.line {
    color: rgb(124, 133, 100);
    font-size: 1.8rem;
}

/** dugme posalji **/
input[type="submit"].button-primary {
    background-color: #4CAF50;
    color: white;
    margin: 0 auto;
    border: none;
    cursor: pointer;
}

input[type="submit"].button-primary:hover {
    background-color: rgb(91, 194, 95);
    color: #222;
    opacity: 0.8;
}


/** pojavljivanje sendCopyEmail inputa **/
#sendCopyEmail {
    display:none;
}

/** file upload dugme **/
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    color: white;
    background-color: rgb(91, 194, 95);
    display: inline-block;
    padding: 5px 20px;
}

.fa-upload {
    padding-right: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(91, 194, 95);
    color: #222;
    opacity: 0.8;
}

.inputfile + label {
	cursor: pointer; 
}

/***
Media Queries 
-----------------------------------------
***/
@media (max-width: 548px) {

    h3 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
    }

    footer {
        font-size: .9em;
    }

    .nav1 {
        display: none;
    }

    .nav-reg-log {
        margin-top: 15px;
    }

    .modal {
        font-size: 1em;
    }
    

    h1 {
        font-size: 3rem;
    }

    .modal p {
        font-size: 1em;
    }
}

@media (min-width: 549px) {
    h3 {
        font-size: 1.2em;
    }

    .shadow {
        position:relative;
    }

    .shadow {
        -webkit-box-shadow:0 1px 10px rgba(226, 203, 203, 0.3);
                box-shadow:0 1px 10px rgba(226, 203, 203, 0.3);
        /**box-shadow:0 1px 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;**/
    }

    .shadow:before, .shadow:after {
        position:absolute;
        content:"";
        bottom:20px;
        left:12px;
        top:90%;
        width:60%;
        background:#B2DBBF;
        z-index:-1;
        -webkit-box-shadow: 0 20px 5px #9B7468;
        box-shadow: 0 20px 5px #70C1B3;
        -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
    }

    .container__cenovnik {
        max-width: 500px;
    }

    th, td {
        border-bottom-color: black;
    }

}


@media (min-width: 768px) {
    .section__main {
      padding: 10rem 0 8;
    }

    h3 {
        font-size: 1.3em;
    }
}

@media (min-width: 992px) {
    .section__main {
      padding: 11 0 11rem;
    }

    h3 {
        font-size: 1.4em;
    }
}

@media (min-width: 1200px) {
    h3 {
        font-size: 1.5em;
    }
}

/*Message status paragraf*/
p.loginStatus {
	font-style: italic;
	float: right;
	margin-right: 5%;
}

p.loggedStatus {
	margin-top: 0%;
	margin-right: 0%;
	padding-right: 3%;
	padding-top: 0%;
	float: right;
}

p#registrationMsg {
	color: red;
}

a.disabled-links{
	pointer-events: none;
	cursor: default;
	opacity:0.2;
	filter: alpha(opacity=40);
	color:inherit;
}

.clickable {
	cursor: pointer;
}

#paymentConfirm {
	margin:2% 25% auto auto;
	display: block;
}
